.Home {
    padding: 300px 0 !important;
}

.profile {
    margin: 0 auto;
    padding: 100px 0;
}

.profile-details {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 40px 30px;
}


.profile-details b p {
    display: inline;
}

.profile-details div {
    margin-top: 10px;
}

.profile-details a {
    cursor: pointer
}

.profile-logo {
    display: inline-block;
    margin-left: 100px;
    padding: 20px;
    vertical-align: middle;
    border-radius: 9999px;
    background-color: black;
}

@media screen and (max-width: 850px) {
    .profile-logo {
        display: none;
    }
}