.aboutme-container {
    padding: 100px 0;
}

.image-box img {
    border-radius: 9999px;
}

.details-box {
    width: 130%;
    margin-right: 30px;
}

.details-box h2 {
    margin-bottom: 30px;
}